body{
    width:400px;  
    margin:15px auto; 
    background-image: url('//istarik.ru/file/bg.png');
    }
    
    #submit{
    width:200px;
    height: 40px;
    border:0px ;
    background:#af87b1;
    margin:10px 0px 10px 63px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 5px 2px -1px rgba(0,0,0,0.5);
    border-radius: 0;
    }
    